/* You can add global styles to this file, and also import other style files */

.pet-pink { 
	background: #f688bb; 
}
.pet-light-pink { 
	background: #e9cbc1; 
}
	
.pet-light { 
	background: #e8f9e9; 
}

.pet-green { 
	background: #748048; 
}
 
.pet-light-green { 
	background: #baf1a1; 
}

.pet-blue { 
	background: #9de3d0; 
}

